@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  color: #1f1f1f;
  font-family: Geist, sans-serif;
  font-size: 18px;
  margin: 0;
}

.portfolio__title {
  font-size: 38px;
  margin: 40px 0 0 0;
  text-align: center;
}

.portfolio__description {
  font-size: 24px;
  margin: 7px 0 0 0;
  text-align: center;
}

.portfolio__content {
  margin-top: 20px;
  padding: 40px;
  display: grid;
  gap: 40px;
}

@media (min-width: 960px) {
  .portfolio__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.portfolio__card {
  border: 2px solid black;
  border-radius: 4px;
}

.portfolio__img {
  object-fit: cover;
  height: 255px;
  width: 100%;
}

.portfolio__card-content {
  padding: 20px;
}

.portfolio__card-title {
  font-size: 30px;
  margin: 0;
}

.portfolio__card-text {
  margin: 0;
}

.portfolio__card-link {
  color: #51aff3;
  display: block;
  text-align: right;
  margin-top: 20px;
}
