@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  color: #1f1f1f;
  font-family: Geist, sans-serif;
  margin: 0;
}

.portfolio {
}

.portfolio__title {
  font-size: 38px;
  margin: 0;
}

.portfolio__description {
  font-size: 24px;
  margin: 0;
}

.portfolio__content {
  margin-top: 20px;
}

.portfolio__card {
  border: 2px solid black;
  border-radius: 4px;
}

.portfolio__img {
  object-fit: cover;
  height: 255px;
}
